
#myBody {
	font-family: 'Istok Web', sans-serif;  /*Istok */
	 /*font-family: 'Arvo', serif;  /*Arvo */
	 /*font-family: 'Cabin', sans-serif; Cabin */
	background: #fff;

}

canvas {
  position: absolute;
  top:0;
  left:0;
  width: 50vw;
  height: 50vh;
}

#box {
	position: absolute;
  	width: 50px;
  	height: 50px;
  	top: 50%;
  	left: 50%;
  	margin: -25px 0 0 -25px;
  	background: tomato;
  	border-radius: 50%;
  	z-index: 9;
  	cursor: none;
  	-webkit-backface-visibility: hidden;
}

#boxOne {
	position: absolute;
	top:0;
	left:0;
	width: 50%;
	height: 50vh;
	background: transparent;
	text-align: center;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	cursor: none;
	-webkit-transition: background .25s, width .5s, height .5s, top .5s;
	-moz-transition: background .25s, width .5s, height .5s, top .5s;
	-o-transition: background .25s, width .5s, height .5s, top .5s;
	transition: background .25s, width .5s, height .5s, top .5s;
	z-index: 10;
}

#boxTwo {
	position: absolute;
	top: 50vh;
	left: 0;
	width: 50%;
	height: 50vh;
	background: transparent;
	text-align: center;
	border-right: 2px solid black;
	border-top: 2px solid black;
	cursor: none;
	-webkit-transition: background .25s, width .5s, height .5s, top .5s;
	-moz-transition: background .25s, width .5s, height .5s, top .5s;
	-o-transition: background .25s, width .5s, height .5s, top .5s;
	transition: background .25s, width .5s, height .5s, top .5s;
	z-index: 10;
}

#boxThree {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 50vh;
	background: transparent;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	text-align: center;
	cursor: none;
	-webkit-transition: background .25s, width .5s, height .5s, top .5s;
	-moz-transition: background .25s, width .5s, height .5s, top .5s;
	-o-transition: background .25s, width .5s, height .5s, top .5s;
	transition: background .25s, width .5s, height .5s, top .5s;
	z-index: 10;
}

#boxFour {
	position: absolute;
	top: 50vh;
	right: 0;
	width: 50%;
	height: 50vh;
	background: transparent;
	text-align: center;
	border-left: 2px solid black;
	border-top: 2px solid black;
	cursor: none;
	-webkit-transition: background .25s, width .5s, height .5s, top .5s;
	-moz-transition: background .25s, width .5s, height .5s, top .5s;
	-o-transition: background .25s, width .5s, height .5s, top .5s;
	transition: background .25s, width .5s, height .5s, top .5s;
	z-index: 10;
}

.h1BoxText {
	height: 200px;
	line-height: 200px;
}

#testDiv {
	margin-top: 100vh;
}