
#myBody {
	padding-top: 60px;
	/*font-family: 'Roboto', sans-serif;*/
	/* font-family: 'Lato', sans-serif; */
	/*font-family: 'Montserrat', sans-serif;*/
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Catamaran', sans-serif;
}


#test div {
	display: inline;
}

.subDate {
	font-size: 12px;
	color: #808B96;
}
/*
#154360; supa dark
#2E86C1; darker
#3498DB; dark
#5DADE2; light
*/


#menuItem01 {
	cursor:pointer;
	color: #154360;
	font-size: 18px;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	-o-transition: color .25s;
	transition: color .25s;
}

#menuItem02 {
	cursor: pointer;
	color: #2E86C1;
	font-size: 18px;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	-o-transition: color .25s;
	transition: color .25s;
}

#menuItem03 {
	cursor: pointer;
	color: #2E86C1;
	font-size: 18px;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	-o-transition: color .25s;
	transition: color .25s;
}

#owl-demo .item{
  display: block;
  cursor: pointer;
  background: #3498DB;
  padding: 30px 0px;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}



.customNavigation{
  text-align: center;
}


.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#theImage {
	cursor:pointer;
}






