
#myBody {
	padding-top: 70px;
}


#test div {
	display: inline;
}

.subDate {
	font-size: 12px;
	color: #808B96;
}
/*
#154360; supa dark
#2E86C1; darker
#3498DB; dark
#5DADE2; light
*/


#menuItem01 {
	cursor:pointer;
	color: #154360;
	font-size: 18px;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	-o-transition: color .25s;
	transition: color .25s;
}

#menuItem02 {
	cursor: pointer;
	color: #2E86C1;
	font-size: 18px;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	-o-transition: color .25s;
	transition: color .25s;
}

#menuItem03 {
	cursor: pointer;
	color: #2E86C1;
	font-size: 18px;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	-o-transition: color .25s;
	transition: color .25s;
}

#owl-demo .item{
  background: #3fbf79;
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}






