
#myBody {


}


/* MENU */
#myMenu {
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	width: 100%;
	height: 50px;
	color: white;
	z-index: 10;
}

#menuItem01 {
	position: absolute;
	top:10px;
	left:20px;
}

#menuItem02 {
	position: absolute;
	top: 10px;
	right: 20px;
}

#menuItem03 {
	position: absolute;
	top: 10px;
	right: 120px;
}

#menuItem04 {
	position: absolute;
	top: 10px;
	right: 220px;
}
/* MENU */


#background {
	margin-top: -70px;
	background:orange;
	width: 100%;
	height: 100vh;
}